

/*------------------ XS / MOBILE PORTRAIT ---------------------*/
@media only screen and (max-width: 575.98px) and (-webkit-min-device-pixel-ratio: 1){[class*="col-"] {width: 100%;}}


/*------------------ SM / MOBILE LANDSCAPE ----------------------------*/
@media only screen and (min-width: 576px) and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 1){[class*="col-"] {width: 100%;}}


/*------------------ MD / TABLETS PORTRAIT ----------------------------*/
@media only screen and (min-width: 768px) and (max-width: 991.98px) and (-webkit-min-device-pixel-ratio: 1){}


/*------------------ LG / IPAD(s) - DESKTOPS - LAPTOPS ----------------------------*/
@media only screen and (min-width: 992px) and (max-width: 1199.98px)and (-webkit-min-device-pixel-ratio: 1){}


/*------------------------------- XL / LARGE DESKTOPS - LAPTOPS ----------------------------*/
@media only screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1){}

/*--------------------------------------------------------------------------------------------*/

*, :after, :before{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.selector-for-some-widget{
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
}
body{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}
html {
    font-family: 'Libre Franklin', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, html, body{
    font-size: 13.5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: normal;
    text-transform: none;
    line-height: 1.7em;
    letter-spacing: .04ch;
    color: #767676;
    color: #222;
}
html, body{
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
.container{
    width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
    @media (min-width:576px){.container{max-width:540px}}
    @media (min-width:768px){.container{max-width:720px}}
    @media (min-width:992px){.container{max-width:960px}}
    @media (min-width:1200px){.container{max-width:1140px}
}
.cust-container-2{
    width:100%;padding-right:25px;padding-left:25px;margin-right:auto;margin-left:auto}
    @media (min-width:576px){.container{max-width:540px}}
    @media (min-width:768px){.container{max-width:720px}}
    @media (min-width:992px){.container{max-width:960px}}
    @media (min-width:1200px){.container{max-width:1140px}
}
.row{   
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.cust-container{
    position:relative;
    padding: 0 15px;
    margin: 0 auto; 
    height: auto;
    width: 1300px;
    max-width: 100%;
    clear:both;
}

/* -------- CUSTOMIZED GENERAL CLASSES ------------------- */

.cust-ouline-0{
    outline: 0;
}
.cust-bg-transparent{
    background: transparent;
}
.cust-bg-black{
    background: #000000!important;
}
.cust-overflow-hidden{
    overflow: hidden;
}
.cust-overflow-auto{
    overflow: auto;
}
.cust-po-rel{
    position: relative;
}
.cust-po-abs{
    position: absolute;
}
.cust-vertical-align-middle{
    vertical-align: middle;
}
.cust-text-white{
    color: #ffffff;
}
.cust-text-black{
    color: #000000;
}
.desk-my-one{
    margin-top: 49px;
    margin-bottom: 49px;
}

.bg-222222{
    background: #222222;
}
.width-50-img{
    width: 100%;
    height: auto;
}

/* -------------------- NAVBAR ------------------------------------------------------------*/


.navbar-brand .navbar-brand-img{
    width: 52px;
    height: 52px;
}
.navbar-brand h6{
    font-weight: 700;
}
.check-logo-img{
    width: 22px;
    height: 22px;
    padding: 0;
    margin: 0;
}
.earth-logo-img{
    width: 16px;
    height: 16px;
    padding: 0 0 3.5px 2.9px;
    margin: 0;
}
.blue-heart-logo-img{
    width: 26px;
    height: 26px;
    margin: 0 0 3px 0;
    padding: 0;
}
#collapsibleNavbar ul li a {
    color: #1d2129;
}
#collapsibleNavbar .nav .nav-item{
    padding-left: 1rem!important;
}
#collapsibleNavbar .nav .dropdown-divider {
    margin: 0 10px;
}




.barbie-hashtag a{
    color: #5890FF;
    font-weight: 600;
    letter-spacing: 0.7px;
    text-decoration: none;
}

/*-------------- BUTTON GROUP -------------------------------------------*/

.like-cmnt-share-btn-group .btn-group button{
    font-size: 14px;
    color: #606770;
    
}
.like-cmnt-share-btn-group .btn-group button i{
    font-size: 16px;
    opacity: 0.7;
    padding-right: 5px;
    vertical-align: middle;
    color: #606770;
}
.like-cmnt-share-btn-group .btn-group button:hover{
    cursor: pointer;
    background: #e8eaec;
    color: #606770;
    border: none;
    outline: none;
}
.like-btn-emoji .fa-thumbs-up{
    font-size: 22px;
    border-radius: 50%;
    border: 0.5px solid #4080FF;
    padding: 10px;
    color: #ffffff;
    background: #4080FF;
    
}
.like-btn-emoji .fa-heart{
    font-size: 22px;
    border-radius: 50%;
    border: 0.5px solid #F25268;
    padding: 10px;
    color: #ffffff;
    background: #F25268;
}
.like-btn-emoji .like-btn-yellow-emoji{
    font-size: 38px;
    border-radius: 50%;
    color: #FDDA74;
    margin-right: 0;
    padding-bottom: 0;
}

.most-relevent-button button{
    color: #444950;
}
.most-relevent-button .dropdown-toggle{
    color: #4080FF;
}
.most-relevent-button button:hover{
    cursor: pointer;
    background: transparent;
    color: #000000;
    border: none;
    outline: none;
    text-decoration: underline;
}
.most-relevent-hidden-block h6{
    columns: #000000;
    font-size: 11.5px;
    line-height: 16px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: left;
    text-indent: 0px; 
    margin-bottom: 0;
}
.most-relevent-hidden-block p{
    color: #6c757d;
    font-size: 11.5px;
    line-height: 14px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: left;
    text-indent: 0px;
    margin-top: .25rem!important;
}
#hiddenCmntDivId{
    display: none;
}
.view-previous-comment-button button{
    color: #000000;
    text-align: left;
}

.view-previous-comment-button button:hover{
    cursor: pointer;
    background: none;
    color: #000000;
    border: none;
    outline: none;
    text-decoration: underline;
}


/* ----------- FB USER IMAGE ------------------------------------------------*/



.fb-user-img img{
    width: 52px;
    height: 52px;
}
.user-input-form-block .form-control{
    border-radius: 50px;
    background: #F2F3F5;    
    height:calc(2.985rem + 2px);
}

.input-group .input-group-append button{
    border-radius: 50px;
    background: #F2F3F5;
    border-right: 1px solid #ced4da;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    
}

.user-label-form-block .form-control{
    border-radius: 50px;
    background: #ffffff;    
    height:calc(2.985rem + 2px);
}

.label-group .input-group-append button{
    border-radius: 50px;
    background: #ffffff;
    border-right: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    
}